<app-header titulo="Grid"></app-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row>
    <ion-col size-md="6">1</ion-col>
    <ion-col size-md="6">2</ion-col>
    <ion-col size-md="12">3</ion-col>
  </ion-row>
</ion-grid>  

<ion-grid>
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="2">a</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">b</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">c</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">d</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">e</ion-col>
    <ion-col size="6" size-md="4" size-lg="2">f</ion-col>
  </ion-row>
</ion-grid>
</ion-content>