<app-header titulo="List"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
      <ion-avatar slot="start">
        <img src="assets\ITI22\ITI22\202200016.JPG" alt="Leal">
      </ion-avatar>
      <ion-label>
        <h2>Juan Leal</h2>
        <p>202200016&#64;uprr.edu.mx</p>
      </ion-label>
    </ion-item>
  <ion-item>
      <ion-avatar slot="start">
        <img src="assets\ITI22\ITI22\202200081.JPG" alt="valentin">
      </ion-avatar>
      <ion-label>
        <h2>Valentin Rivera</h2>
        <p>202200081&#64;uprr.edu.mx</p>
      </ion-label>
    </ion-item>
  <ion-item>
      <ion-avatar slot="start">
        <img src="assets\ITI22\ITI22\202200028.JPG" alt="Jona">
      </ion-avatar>
      <ion-label>
        <h2>Jonathan Esquivel</h2>
        <p>202200028&#64;uprr.edu.mx</p>
      </ion-label>
    </ion-item> 
  <ion-item>
      <ion-avatar slot="start">
        <img src="assets\ITI22\ITI22\202200050.JPG" alt="Aaron">
      </ion-avatar>
      <ion-label>
        <h2>Aaron Grimaldo</h2>
        <p>202200050&#64;uprr.edu.mx</p>
      </ion-label>
      </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets\ITI22\ITI22\202200101.JPG" alt="Gael">
      </ion-avatar>
      <ion-label>
        <h2>Gael Colunga</h2>
        <p>202200101&#64;uprr.edu.mx</p>
      </ion-label>
      </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets\ITI22\ITI22\202200037.JPG" alt="Maik">
      </ion-avatar>
      <ion-label>
        <h2>Miguel Mireles</h2>
        <p>202200037&#64;uprr.edu.mx</p>
      </ion-label>
    </ion-item> 
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets\ITI22\ITI22\202200017.JPG" alt="cacasiel">
      </ion-avatar>
      <ion-label>
        <h2>Jahaziel Carballo</h2>
        <p>202200017&#64;uprr.edu.mx</p>
      </ion-label>
    </ion-item> 
</ion-list>
</ion-content>
